.SupportMainBox {
  width: 100%;
  height: 100%;
}
.innerSupportMainBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  .supportBoxLeft {
    width: 50%;
    padding: 20px;
  }
  .supportBoxRight {
    width: 50%;
    padding: 20px;
    button {
      background: transparent;
      border: 0;
      width: 100%;
    }
  }
  .innerSupportBoxRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;
    h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      color: #293462;
    }
  }
}

.supportBoxTitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #293462;
  margin-bottom: 10px;
}

.supportField {
  input {
    width: 100%;
    border: 1px solid #293462;
    background-color: transparent;
    color: #293462;
    height: 40px;
    padding-left: 14px;
    outline: none;
  }
}

.supportTextaField {
  textarea {
    width: 100%;
    border: 1px solid #293462;
    background-color: transparent;
    color: #293462;
    height: 80px;
    padding-left: 14px;
    outline: none;
    margin-top: 5px;
    padding-top: 10px;
  }
}

.numberQueryBox {
  display: flex;
  flex-direction: row;
  h4 {
    margin-right: 5px;
  }
}
.supportBoxBottom {
  width: 100%;
  margin-top: 40px;
  .innerSupportBoxBottom {
    width: 46%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
  }
}

.frequentlyQueBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #293462;
    margin-right: 5px;
  }
}
.querySubmitBtn {
  button {
    margin-top: 10px;
    background: #293462;
    border: 1px solid #293462;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
    height: 40px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .innerSupportMainBox {
    flex-direction: column;
    min-height: 55vh;
    .supportBoxLeft {
      width: 100%;
      padding: 0px;
    }
    .supportBoxRight {
      width: 100%;
      margin-top: 40px;
      padding: 0px;
    }
    .innerSupportBoxRight {
      h4 {
        text-align: left;
      }
    }
  }

  .supportBoxBottom {
    .innerSupportBoxBottom {
      width: 100%;
    }
  }

  .frequentlyQueBox {
    align-items: flex-start;
  }
}
