.headerContainer {
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 0vh 10vh 0vh 10vh;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  .leftHeaderContainer {
    .logoContainer {
      width: 150px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .mobileMenuConatiner {
    display: none;
  }
  .rightHeaderContainer {
    display: flex;
    align-items: center;

    .dropDwnBtn {
      cursor: pointer;
      height: 5vh;
      display: flex;
      align-items: center;
      margin-left: 40px;

      .expandContainerLogo {
        width: 25px;
        height: 25px;
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      button {
        outline: none;
        cursor: pointer;

        border: none;
        background: transparent;
        border-radius: 3px;
        height: 100%;
        font-size: 16px;
        color: #293462;
        &:hover,
        &:active,
        &:focus {
          color: green;
        }
      }
    }
  }
}

// dropdown modal
.dropdwnMainContainer {
  position: fixed;
  background: #ffffff;
  width: 230px;
  min-height: 40%;
  height: auto;
  top: 11%;
  z-index: 999;
  left: 96%;
  transform: translate(-96%, -11%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .header {
    border-bottom: 1px solid #eeeeee;
    height: 70px;
    padding: 10px 25px;
    margin-top: 10px;
    cursor: pointer;
    h4 {
      font-size: 18px;
      font-weight: 500;
      color: #293462;
    }
    h6 {
      font-size: 14px;
      font-weight: 400;
      color: #293462;
    }
  }
  .dropdwnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 25px;
    margin-top: 10px;
    cursor: pointer;
    h4 {
      font-size: 16px;
      font-weight: 500;
      color: #293462;
    }
    &:hover {
      background: #eeeeee;
    }
  }
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    padding: 0vh;
    .mobileMenuConatiner {
      display: block;
      div {
        width: 60px;
        height: 30px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .rightHeaderContainer {
      display: none;
    }
  }

  // dropdown modal
  .dropdwnMainContainer {
    display: none !important;
  }
}
